# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [15]:
import sys
sys.executable

'C:\\Users\\Dell\\Anaconda3\\envs\\pandas_cub\\python.exe'

In [16]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [19]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}


df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [8]:
df

In [20]:
df_final

In [10]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [12]:
df = pdc.DataFrame(10)

TypeError: $data must be dictionary

In [13]:
d ={'a':'a'}

In [14]:
pdc.DataFrame(d)

init method

In [21]:
values = np.column_stack((a, b, c, d, e))

NameError: name 'a' is not defined

In [22]:
df_pandas.dtypes

name       object
state      object
height    float64
school       bool
weight      int32
dtype: object